@function mint-compress($values) {
  $length: length($values);

  @if $length == 1 {
    @return $values;
  }
  @else {
    $a: nth($values, 1);
    $b: nth($values, 2);
    @if $length == 2 {
      @if $a == $b {
        @return $a;
      }
    }
    @else {
      $c: nth($values, 3);
      @if $length == 3 {
        @if $a == $b and $a == $c {
          @return $a;
        }
        @else if $a == $c {
          @return $a $b;
        }
      }
      @else {
        @if $length == 4 {
          $d: nth($values, 4);
          @if $a == $b and $a == $c and $a == $d {
            @return $a;
          }
          @else if $a == $c and $b == $d {
            @return $a $b;
          }
          @else if $b == $d {
            @return $a $b $c;
          }
        }
        @else {
          @error "mint-sass: You can't pass more than 4 values.";
        }
      }
    }
  }

  @return $values;
}
