//
// + Variables
// =============================================================================

$mint-base: 16 !default;

//
// + Compress
// =============================================================================

@function mint-compress($values) {
  $length: length($values);

  @if $length == 1 {
    @return $values;
  }
  @else {
    $a: nth($values, 1);
    $b: nth($values, 2);
    @if $length == 2 {
      @if $a == $b {
        @return $a;
      }
    }
    @else {
      $c: nth($values, 3);
      @if $length == 3 {
        @if $a == $b and $a == $c {
          @return $a;
        }
        @else if $a == $c {
          @return $a $b;
        }
      }
      @else {
        @if $length == 4 {
          $d: nth($values, 4);
          @if $a == $b and $a == $c and $a == $d {
            @return $a;
          }
          @else if $a == $c and $b == $d {
            @return $a $b;
          }
          @else if $b == $d {
            @return $a $b $c;
          }
        }
        @else {
          @error "mint-sass: You can't pass more than 4 values.";
        }
      }
    }
  }

  @return $values;
}

//
// + Strip
// =============================================================================

@function mint-strip($value) {
  @return $value / (($value * 0) + 1);
}

//
// + Mint
// =============================================================================

@function mint($values, $base, $scale, $unit) {
  $result: ();

  @each $value in mint-compress($values) {
    @if type-of($value) == 'number' {
      @if not index('px' '', unit($value)) {
        @error "mint-sass: You can only pass px or unitless values as numbers.";
      }

      // Strips the unit if 0px is passed and avoids useless math.
      @if $value == 0 {
        $value: 0;
      }
      @else {
        $value: ((($base / $scale) * mint-strip($value)) / $base) * $unit;
      }
    }

    $result: join($result, $value);
  }

  @return $result;
}

//
// + Units
// =============================================================================

@function em($values, $scale: $mint-base) {
  @return mint($values, $mint-base, $scale, 1em);
}

@function px($values, $scale: 1) {
  @return mint($values, 1, $scale, 1px);
}

@function rem($values, $scale: $mint-base) {
  @return mint($values, $mint-base, $scale, 1rem);
}

@function un($values, $scale: $mint-base) {
  @return mint($values, $mint-base, $scale, 1);
}
