$mint-convert-test: (
  'convert': (
    test: mint-convert(16, 16),
    return: 1
  ),
  'snap 16.1': (
    test: mint-convert(16.1, 16),
    return: 1.00625
  ),
  'snap 16.15': (
    test: mint-convert(16.15, 16),
    return: 1.009375
  ),
  'snap 16.16': (
    test: mint-convert(16.16, 16),
    return: 1.01
  ),
  'snap 16.2': (
    test: mint-convert(16.2, 16),
    return: 1.0125
  )
);

@debug cart($mint-convert-test);
