@function mint-unit($values, $scale, $base, $unit) {
  $result: ();
  $values: mint-compress($values);

  @each $value in $values {
    @if type-of($value) == 'number' and $value != 0 {
      $value: mint-scale($value, $mint-base, $scale);
      $value: mint-convert($value, $mint-base);
      $value: $value * $unit;
      $result: join($result, $value);
    }
    @else {
      $result: join($result, $value);
    }
  }

  @return $result;
}
