@function mint-compress($values) {
  $items: ();
  $half: length($values) / 2;

  @if floor($half) == $half {
    @for $i from 1 through $half {
      @if nth($values, $i) == nth($values, $i + $half) {
        $items: join($items, nth($values, $i));

        @if $i == $half {
          @return mint-compress($items);
        }
      }
      @else {
        @return $values; // use @break in Sass 4.0
      }
    }
  }

  @return $values;
}

// use this function when slice gets added in Sass 4.0
// @function mint-compress($values) {
//   @if even(length($values)) {
//     $half: length($values) / 2;
//     $before: slice($values, 1, $half);
//
//     @if $before == slice($values, $half + 1) {
//       @return mint-compress($before);
//     }
//   }
//
//   @return $values;
// }
