$mint-px-test: (
  'convert': (
    test: px(16) + '',
    return: '1px'
  ),
  'scale': (
    test: px(16, 2) + '',
    return: '8px'
  ),
  'auto': (
    test: px(auto) + '',
    return: 'auto'
  ),
  '0': (
    test: px(0) + '',
    return: '0'
  ),
  'null': (
    test: px(null) + '',
    return: ''
  )
);

@debug cart($mint-px-test);
