$mint-un-test: (
  'convert': (
    test: un(16) + '',
    return: '1'
  ),
  'scale': (
    test: un(16, 2) + '',
    return: '8'
  ),
  'auto': (
    test: un(auto) + '',
    return: 'auto'
  ),
  '0': (
    test: un(0) + '',
    return: '0'
  ),
  'null': (
    test: un(null) + '',
    return: ''
  ),
  'compress string': (
    test: un(auto auto) + '',
    return: 'auto'
  ),
  'compress 2 to 1': (
    test: un(16 16) + '',
    return: '1'
  ),
  'compress 4 to 1': (
    test: un(16 16 16 16) + '',
    return: '1'
  ),
  'compress 4 to 2': (
    test: un(16 32 16 32) + '',
    return: '1 2'
  )
);

@debug cart($mint-un-test);
