$mint-un-test: (
  'convert': (
    test: un(16) + '',
    return: '1'
  ),
  'scale': (
    test: un(16, 2) + '',
    return: '8'
  ),
  'auto': (
    test: un(auto) + '',
    return: 'auto'
  ),
  '0': (
    test: un(0) + '',
    return: '0'
  ),
  'null': (
    test: un(null) + '',
    return: ''
  )
);

@debug cart($mint-un-test);
