$mint-rem-test: (
  'convert': (
    test: rem(16) + '',
    return: '1rem'
  ),
  'scale': (
    test: rem(16, 2) + '',
    return: '8rem'
  ),
  'auto': (
    test: rem(auto) + '',
    return: 'auto'
  ),
  '0': (
    test: rem(0) + '',
    return: '0'
  ),
  'null': (
    test: rem(null) + '',
    return: ''
  )
);

@debug cart($mint-rem-test);
