$mint-em-test: (
  'convert': (
    test: em(16) + '',
    return: '1em'
  ),
  'scale': (
    test: em(16, 2) + '',
    return: '8em'
  ),
  'auto': (
    test: em(auto) + '',
    return: 'auto'
  ),
  '0': (
    test: em(0) + '',
    return: '0'
  ),
  'null': (
    test: em(null) + '',
    return: ''
  )
);

@debug cart($mint-em-test);
